body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.game-wrapper{
    background-color: powderblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
}

.counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-score{
    margin: 10px;
}
.computer-score{
    margin: 10px;
}
.computer-choice{
    display: flex;
    border: solid;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.computer-choice img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.player-choices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: powderblue;
}
.choice{
    width: 200px;
    height: 200px;
    border: solid;
    margin: 20px;
    /* object-fit: cover; */
}
.choice img{
    width: 200px;
    height: 200px;
    object-fit:cover;
}
